h1{
    color:blue;
}
h2{
    color:blueviolet;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
<<<<<<< HEAD
    text-align:center;
=======
    text-align:end;
>>>>>>> d5d9620858abcdb50f5bcb5f74f62d30fda87d9a
}
